:root {
    --default-font: 'Quicksand', sans-serif;
    --blue-highlight: #428ccc;
    --neutral-gray: #909090;
    --off-white: #fafafa;
    --alert: #aa0606;
    --success-bg: #b7e1c3;
    --success-fg: #043e14;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: var(--default-font);
    padding: 1em;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

em {
    font-style: normal;
    font-weight: bold;
}

a, a:visited {
    color: var(--blue-highlight);
}

@media (max-width: 767px) {
    nav {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
        left: -250px;
        transition: left 0.5s;
        background-color: var(--off-white);
    }

    nav.open {
        left: 0;
    }
}

.code {
    font-family: 'Consolas', sans-serif;
}

.button {
    background-color: var(--blue-highlight);
    border: 2px solid #68a5d9;
    color: var(--off-white);
    font-family: var(--default-font);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color .5s;
}

.button:hover {
    background-color: #1d73be;
}

.centered {
    text-align: center;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.flash-message {
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
    border-radius: 8px;
    animation: fadeout 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.flash-message.success {
    background-color: var(--success-bg);
    color: var(--success-fg);
}

#menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1.5em 0;
}

@media (max-width: 767px) {
    #menu {
        display: block;
    }
}

#menu a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    background-color: var(--neutral-gray);
    border: 2px solid var(--neutral-gray);
    text-align: center;
    min-width: 100px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color .5s;
}

#menu a.current {
    background-color: #fff;
}

#menu a, #menu a:visited {
    color: var(--off-white);
}

#menu a.current, #menu a.current:visited {
    color: var(--blue-accent);
}

#menu a:not(.current):hover {
    background-color: var(--blue-highlight);
}

@media (max-width: 767px) {
    #menu a {
        margin: 10px;
        background-color: var(--blue-highlight);
    }
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.8em;
}

#mobile-menu-open, #opacity-overlay {
    display: none;
}

@keyframes reveal-overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

@media (max-width: 767px) {
    #mobile-menu-open {
        display: inline;
        position: absolute;
        padding-top: 5px;
    }

    #opacity-overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
    }

    #opacity-overlay.open {
        opacity: 0.3;
        display: block;
    }
}
